<h1>Edit Chapter</h1>
<% if @chapter.errors.any? %>
  <div id="error_explanation">
    <h3>There were some errors:</h3>
    <ul>
      <% @chapter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @chapter do |f| %>
    <%= render 'form' %>
<% end %>