
<p>
<div class="chapterTitle"><%= @chapter.chapter_title %></div>
<p class="chapterBody"><%= @chapter.chapter_content %></p>

<a href="#" class="js-next" data-id="<%=@chapter.id%>">Next...</a>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    event.preventDefault()
    let nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON(nextId + ".json", function(data) {

      $(".chapterTitle").text(data["chapter_title"]);
      $(".chapterBody").text(data["chapter_content"]);
    
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>