<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>

  </head>

  <body>
    <%= render 'layouts/nav' %>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
            <%= value %>
      </div>
    <% end %>

    <%= yield %>
    
  </body>
</html>
